<div class="container">

  <div class="row">
   <div class="twelve columns">
  		<h3 style="color:#60D3D7; text-align:center">CONTACT ME</h3>
   </div>
  </div>

  <div class="row">
  	<form action="" method="" data-form="validate">
		<ul>
		  <li class="field">
		    <input class="input text" type="text" placeholder="Name" />
		  </li>
		  <li class="field">
		    <input class="input text" type="email" placeholder="Email" />
		  </li>
		  <li class="field">
		    <input class="input text" type="text" placeholder="Subject" />
		  </li>
		  <li class="field" style="margin-right:600px">
		    <textarea class="input textarea" placeholder="Message"></textarea>
		  </li>
		  <a class="tertiary btn" href = "submit" style = "text-align:center; color:#000000">Submit</a>
		</ul>
	</form>
  </div>


</div>






<!-- <form action="" method="" data-form="validate">
    <dl class="field row">
	<dt class="text"><input type="text" placeholder="Text input" data-form="required" /></dt>
        <dd class="msg"><span class="caret"></span>You filled this out wrong.</dd>
    </dl>
    <dl class="field row">
        <dt class="textarea"><textarea placeholder="Text Field" data-form="required"></textarea></dt>
        <dd class="error msg"><span class="caret"></span>You filled this out wrong.</dd>
    </dl>
</form> -->
  