


<div class="container">

  <div class="row">
   <div class="twelve columns">
  		<h3 style="color:#60D3D7; text-align:center">GALLERY</h3>
   </div>
  </div>	


  <div class="row">
   <div class="two columns">
     <a href="assets/1.jpg"><img src="assets/1.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/2.jpg"><img src="assets/2.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/3.jpg"><img src="assets/3.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/4.jpg"><img src="assets/4.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/5.jpg"><img src="assets/5.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/6.jpg"><img src="assets/6.jpg"/></a>
   </div>
  </div>

  <div class="row">
   <div class="two columns">
     <a href="assets/7.jpg"><img src="assets/7.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/8.jpg"><img src="assets/8.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/9.jpg"><img src="assets/9.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/10.jpg"><img src="assets/10.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/11.jpg"><img src="assets/11.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/12.jpg"><img src="assets/12.jpg"/></a>
   </div>
  </div>

  <div class="row">
   <div class="two columns">
     <a href="assets/13.jpg"><img src="assets/13.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/14.jpg"><img src="assets/14.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/15.jpg"><img src="assets/15.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/16.jpg"><img src="assets/16.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/18.jpg"><img src="assets/18.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/19.jpg"><img src="assets/19.jpg"/></a>
   </div>
  </div>

  <div class="row">
   <div class="two columns">
     <a href="assets/20.jpg"><img src="assets/20.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/21.jpg"><img src="assets/21.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/23.jpg"><img src="assets/23.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/24.jpg"><img src="assets/24.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/25.jpg"><img src="assets/25.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/27.jpg"><img src="assets/27.jpg"/></a>
   </div>
  </div>

  <div class="row">
   <div class="two columns">
     <a href="assets/28.jpg"><img src="assets/28.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/29.jpg"><img src="assets/29.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/33.jpg"><img src="assets/33.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/34.jpg"><img src="assets/34.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/35.jpg"><img src="assets/35.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/10.jpg"><img src="assets/10.jpg"/></a>
   </div>
  </div>

  <div class="row">
   <div class="two columns">
     <a href="assets/17.jpg"><img src="assets/17.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/22.jpg"><img src="assets/22.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/26.jpg"><img src="assets/26.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/30.jpg"><img src="assets/30.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/31.jpg"><img src="assets/31.jpg"/></a>
   </div>
   <div class="two columns">
     <a href="assets/32.jpg"><img src="assets/32.jpg"/></a>
   </div>
  </div>

  
</div>



