<!DOCTYPE html>
<html>
<head>
  <title>SureshKamblikar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:">

<nav class="pretty navbar">
  <h1 class="logo"><a href="index"><img src="assets/sureshlogo.png" alt="Gumby"/></a></h1>
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="bio">Bio</a></li>
    <li><a href="gallery">Gallery</a></li>
    <li><a href="contact">Conatct Me</a></li>
  </ul>
</nav>



<!-- <nav class="pretty navbar">
<div class="row">
<div class="four columns">
  <h1 class="logo"><a href="index"><img src="assets/sureshlogo.png" alt="Gumby"/></a></h1>
  </div>
    <div class="two columns"><li><a href="index">Home</a></li></div>
    <div class="two columns"><li><a href="bio">Bio</a></li></div>
    <div class="two columns"><li><a href="gallery">Gallery</a></li></div>
    <div class="two columns"><li><a href="contact">Conatct Me</a></li></div>
  </div>
</nav> -->



<%= yield %>


<div class="container">
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class="one column" style="text-align:center">
		<a href="index">HOME</a>
	</div>
	<div class="one column" style="text-align:center">
		<a href="bio">BIO</a>
	</div>
	<div class="one column" style="text-align:center">
		<a href="gallery">GALLERY</a>
	</div>
	<div class="one column" style="text-align:center">
		<a href="contact">CONTACT</a>
	</div>
	<div class="four columns" style="text-align:right">
		© 2012 SURESHKAMBLIKAR.COM
	</div>
	<div class="two columns" style="text-align:center">
		
	</div>
	<div class="one column" style="text-align:center">
		<a href="https://www.facebook.com/suresh.kamblikar"><img src="assets/fb.jpg"></a>
	</div>
	<div class="one column" style="text-align:center">
		<a href=""><img src="assets/tw.png"></a>
	</div>
</div>
<div class="row">
	<hr/>
</div>
</div>


</body>
</html>
